*{
    margin: 0px;
    padding: 0px;
}
body{
    font-size: 16;
    font-family: 'Times New Roman', Times, serif;
}
#full{
    width: auto;
    height: 200px;
}
#header{
    width: auto;
    height: 70px;
    background: burlywood;
}
.logo{
    display: flex;
    line-height: 50px;
}
.farther{
    width: auto;
    height: 70px;
    background: violet;
    line-height: 70px;
}
ul.myson{
    display: flex;
}
ul.myson li{
    list-style: none;
    padding:2px 30px;
}
ul.myson li a{
    text-decoration: none;
}
ul.myson li a:hover{
    color: brown;
    border: 1px solid;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, .5), 0 0 20px rgba(255, 255, 255, .2);
    /* outline-color: rgba(255, 255, 255, 0);
    outline-offset: 15px; */
    text-shadow: 1px 1px 2px yellow;
    text-transform: uppercase;
}
#bodyfull{
    width: auto;
    height: auto;
    background: skyblue;
    margin-top: 50px;
    line-height: 30px;
}
.Category{
    border: 1px solid saddlebrown;
    width: 100px;
    height: 50px;
    line-height: 50px;
}
ul.menudad{
    border: 1px solid saddlebrown;
    width: 100px;
    height: 500px;
    position: relative;
    
}
ul.menudad> li{
    list-style: none;
    /* border-collapse: collapse; */
}
ul.menudad> li> a{
    text-decoration: none;
    border-bottom: 1px solid;
}
ul.menudad li a:hover{
    background: yellow;
    color:salmon;
}
.product{
    margin-left: 110px;
    margin-top: -550px;
}
.producted{
    margin-left: 170px;
    display: flex; 
    flex-wrap: wrap;
    justify-content: space-around;
}
.photo,.namepic{
    text-align: center;
}
.producted li{
    list-style: none;
   flex-basis: 30%;
}
.producted li a{
    display: block;
    text-decoration: none;
}
.menumom{
    position: absolute;
    left: 100px;
    top: 30px;
    width: 110px;
    height: 120px;
    display: none;
}
.menumom li{
    list-style: none;
}
.menumom li a{
    text-decoration: none;
}
ul.menudad > li:hover .menumom{
    display: block;
    color: red
}

